@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;

  /* scroll-behavior: smooth; */
}

.button {
  border-radius: 16px;
  padding: 16px 32px;
  height: 56px;
  font-weight: 500;
  /* box-shadow: rgba(0, 0, 0, 0.01) 0px 0.602187px 1.32481px 0px,
    rgba(0, 0, 0, 0.047) 0px 2.28853px 5.03477px 0px,
    rgba(0, 0, 0, 0.2) 0px 10px 22px 0px; */
  margin-bottom: 4px;
}

.heading-center {
  @apply text-center text-5xl max-lg:text-4xl max-md:text-3xl font-[700] max-md:font-[700] max-md:px-8 tracking-[-1px] leading-[64px];
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-reverse {
  animation-direction: reverse;
  animation-delay: -3s;
}

/* loader start */

/* From Uiverse.io by satyamchaudharydev */
.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  /* background: #1a1919; */
  @apply bg-[#1a1919] dark:bg-white;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
/* loader end */

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap"); */

:root {
  --bg: white;
  --clr-1: #00c2ff;
  --clr-2: #33ff8c;
  --clr-3: #ffc640;
  --clr-4: #e54cff;

  --blur: 1rem;
  --fs: clamp(3rem, 8vw, 7rem);
  --ls: clamp(-1.75px, -0.25vw, -3.5px);
}

.text-anim {
  /* min-height: 100vh; */
  display: grid;
  place-items: center;
  background-color: var(--bg);
  color: #fff;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
  z-index: 9999;
  background: transparent;
}

*,
*::before,
*::after {
  /* font-family: inherit; */
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  margin: 0;
  color: transparent; /* Make text transparent */
  background: var(--bg); /* Background for the effect */
  background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* For WebKit browsers */
  mix-blend-mode: difference; /* Make the text "cut out" effect */
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the aurora is behind the text */
  mix-blend-mode: lighten; /* Make the aurora blend with the background */
  pointer-events: none;
}

.subtitle {
}

.aurora__item {
  overflow: hidden;
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: var(--clr-1);
  border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  filter: blur(var(--blur));
  mix-blend-mode: overlay;
}

.aurora__item:nth-of-type(1) {
  top: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-1 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(2) {
  background-color: var(--clr-3);
  right: 0;
  top: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-2 12s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(3) {
  background-color: var(--clr-2);
  left: 0;
  bottom: 0;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-3 8s ease-in-out infinite alternate;
}

.aurora__item:nth-of-type(4) {
  background-color: var(--clr-4);
  right: 0;
  bottom: -50%;
  animation: aurora-border 6s ease-in-out infinite,
    aurora-4 24s ease-in-out infinite alternate;
}

@keyframes aurora-1 {
  0% {
    top: 0;
    right: 0;
  }

  50% {
    top: 100%;
    right: 75%;
  }

  75% {
    top: 100%;
    right: 25%;
  }

  100% {
    top: 0;
    right: 0;
  }
}

@keyframes aurora-2 {
  0% {
    top: -50%;
    left: 0%;
  }

  60% {
    top: 100%;
    left: 75%;
  }

  85% {
    top: 100%;
    left: 25%;
  }

  100% {
    top: -50%;
    left: 0%;
  }
}

@keyframes aurora-3 {
  0% {
    bottom: 0;
    left: 0;
  }

  40% {
    bottom: 100%;
    left: 75%;
  }

  65% {
    bottom: 40%;
    left: 50%;
  }

  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes aurora-4 {
  0% {
    bottom: -50%;
    right: 0;
  }

  50% {
    bottom: 0%;
    right: 40%;
  }

  90% {
    bottom: 50%;
    right: 25%;
  }

  100% {
    bottom: -50%;
    right: 0;
  }
}

@keyframes aurora-border {
  0% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }

  25% {
    border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
  }

  50% {
    border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
  }

  75% {
    border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
  }

  100% {
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
  }
}

/* Hide scrollbar for all elements */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* 
 */

.slider-container {
  padding: 20px 20px;
  margin: 20px;
}

.card-item {
  transition: all 0.3s ease-in-out;
  opacity: 0.1;
  filter: blur(3px);
  transform: scale(0.8);
  transform: scale3d(-1);
}

.slick-center .card-item {
  opacity: 1;
  filter: none;
  transform: scale(1.2);
  rotate: 0deg;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slick-slide {
  padding: 0 10px; /* Adjust the spacing between the cards */
}

.slick-active .card-item {
  filter: none;
}

/* Dot styles */
.slick-dots li button::before {
  font-size: 12px;
  color: gray; /* Inactive dot color */
  opacity: 0.7;
  transition: color 0.3s, opacity 0.3s;
}

.slick-dots li.slick-active button::before {
  color: blue; /* Active dot color */
  opacity: 1;
}

.buttonHero:hover {
  box-shadow: none !important;
  transform: none !important;
}

.box-shadow {
  box-shadow: inset 0 4px 4px -2px #0000001f, inset 0 -4px 4px -2px #0000001f,
    inset 0 0 3px #0000003d, 0 0 0 1px #00000014,
    0 7px 11.399999618530273px -7px #1f1c1c26, 0 16px 24px -7px #1f1c1c14;
}

/* header button  flip */

.btn-flip {
  opacity: 1;
  outline: 0;
  /* color: #fff; */
  line-height: 40px;
  position: relative;
  text-align: center;
  /* letter-spacing: 1px; */
  display: inline-block;
  text-decoration: none;
  /* font-family: "Open Sans"; */
  /* text-transform: uppercase; */
}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  /* color: #323237; */
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #6b4eff;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  /* color: #adadaf; */
  display: block;
  /* padding: 0 30px; */
  line-height: 40px;
  transition: 0.5s;
  position: relative;

  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
