@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  border-radius: 16px;
  padding: 0 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-reverse {
  animation-direction: reverse;
  animation-delay: -3s;
}
